@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    margin: 0 !important;
    padding: 0 !important;
}
::selection{
    color:wheat ;
    background-color: var(--main-color);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #91f5d7 ;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 10px;
}
:root{
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(220, 68%, 54%);
  --first-color-lighten: hsl(220, 68%, 97%);
  --title-color: hsl(220, 48%, 28%);
  --text-color: hsl(220, 12%, 45%);
  --body-color: hsl(220, 100%, 99%);
    --main-color: #353590;
    --second-color: #26D6A5;
    --subtitle-color: #8d8d8d;
    /*========== Font and typography ..bash 3rftina mahankhdmoush behom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight .. bash 3rfti hadu maghaykhdmoush lina .. lah reby shedani lshi dev web==========*/
  --font-medium: 500;
  --font-semi-bold: 700;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem !important;
    --small-font-size: .875rem !important;
    --smaller-font-size: .813rem !important;
  }
}
body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    height: 1000px;
    overflow-x: hidden;
    position: relative;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
} 

/*__________________________________________________________________________________________________________________________*/

/* Style tab links */
.tablink {
  background-color: var(--main-color);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.4em;
  position: relative;
  width: 25%;
  text-decoration: none;
  font-weight: 500 !important;
  font-family:"Poppins", sans-serif !important;
}


 .tablink:hover {
  background-color: var(--second-color);
  text-decoration: none;
  color: #eee;
}
.on{
  background-color: var(--second-color);
  text-decoration: none;
  color: #eee;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/*================================= nav .. header or whatever it is===================================================*/

ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.containerH {
  max-width: 1120px;
  margin-inline: 1.5rem;
  
}

/*=============== HEADER ===============*/
.header {
  margin-top: 0;
  position: absolute ;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
  background-color: var(--body-color);
  z-index: 10;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);

}
.nav__data {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  margin-right: 1em;
  
  transition: color 0.3s;
}


.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}
.nav__toggle-menu, .nav__toggle-close {
  font-size: 1.25rem;
  color: var(--main-color);
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}
.nav__toggle-close {
  opacity: 0;
}
@media screen and (max-width: 1118px) {
  .nav__menu {
    background-color: var(--body-color);
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0.5rem;
  }
  .nav__menu::-webkit-scrollbar-thumb {
    background-color: hsl(220, 12%, 70%);
  }
}
.nav__link {
  color: var(--main-color);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
  font-weight: 500 !important;
  font-size: 1.25rem;
  font-family:"Poppins", sans-serif !important;
}
.nav__link:hover {

  border-bottom: 4px solid #2ED4A6 !important ;
    color: #2ED4A6 !important ;
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__button {
  cursor: pointer;
}
.dropdown__button:hover {
  border-bottom: 4px solid #2ED4A6 ;
    color: #2ED4A6 ;
}
.dropdown__arrow {
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform 0.4s;
}
.dropdown__content, .dropdown__group, .dropdown__list {
  display: grid;
}
.dropdown__container {
  background-color: var(--first-color-lighten);
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}
.dropdown__content {
  row-gap: 1.75rem;
}
.dropdown__group {
  padding-left: 2.5rem;
  row-gap: 0.5rem;
}
.dropdown__group:first-child {
  margin-top: 1.25rem;
}
.dropdown__group:last-child {
  margin-bottom: 1.25rem;
}
.dropdown__icon i {
  font-size: 1.25rem;
  color: var(--first-color);
}
.dropdown__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
.dropdown__list {
  row-gap: 0.25rem;
}
.dropdown__link {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  transition: color 0.3s;
}
.dropdown__link:hover {
  color: var(--title-color);
}

/* Rotate dropdown icon */
.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
  .dropdown__group {
    padding-left: 1.5rem;
  }
}
/* For large devices */
@media screen and (min-width: 1118px) {
  /* Nav */
  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 3rem;
    height: 100%;
  }
  .nav li {
    display: flex;
  }
  .nav__link {
    padding: 0;
  }
  .nav__link:hover {
    background-color: initial;
    border-bottom: 4px solid #2ED4A6 !important ;
    color: #2ED4A6 !important;
  }
  /* Dropdown */
  .dropdown__button {
    column-gap: 0.25rem;
    pointer-events: none;
  }

  .dropdown__container {
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 6.5rem;
    background-color: var(--body-color);
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .dropdown__content {
    grid-template-columns: repeat(4, max-content);
    column-gap: 6rem;
    max-width: 1120px;
    margin-inline: auto;
  }
  .dropdown__group {
    padding: 4rem 0;
    align-content: baseline;
    row-gap: 1.25rem;
  }
  .dropdown__group:first-child, .dropdown__group:last-child {
    margin: 0;
  }
  .dropdown__list {
    row-gap: 0.75rem;
  }
  .dropdown__icon {
    width: 60px;
    height: 60px;
    background-color: var(--first-color-lighten);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
  }
  .dropdown__icon i {
    font-size: 2rem;
  }
  .dropdown__title {
    font-size: var(--normal-font-size);
  }
  .dropdown__link {
    font-size: var(--small-font-size);
  }
  .dropdown__link:hover {
    color: var(--first-color);

    
  }
  .dropdown__item {
    cursor: pointer;
  }
  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }
  .dropdown__item:hover > .dropdown__container {
    top: 5.5rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
  }
}
@media screen and (min-width: 1152px) {
  .containerH {
    margin-inline: auto;
    margin-left: 0;
    margin-right: 0;
    
  }
  
}
/* === safeee baraka 3leh .. nzid feh nhar akher n9frha duzi l home ==============================================*/
/*---------------------------------------------------slider----------------------------------------------------------------------------------------*/
.sign{
	float: right;
	line-height: 60px;
	margin-right: 40px;
}
.sign a{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.act{
	border: 2px solid #fff;
	border-radius: 50px;
	padding: 6px 15px;
}



/* slider & dots styling */
.slider{
	position: relative;
	width: 100%;
	margin-top: 0px; 
  padding-top: 0px;
}
.myslide{
	height: 655px;
	display: none;
	overflow: hidden ;
}
/*_______for large screens__________*/
@media only screen and (min-width: 2000px) {
  .myslide{
	height: 1000px;
	display: none;
	
}
}
.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	
}
.prev:hover, .next:hover{
	color: white; 
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
  
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}


/* javascript */
.active, .dot:hover{
	border-color: white;
  background-color: #3C3790;
  width: 13px;
	height: 13px;
}
/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 8s;
  animation-name: fade;
  animation-duration: 8s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /muslide add fade */

/* text styling and animating */
.txt{
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
  -webkit-animation-duration: 3s;
  	animation-name: posi;
  	animation-duration: 2s;
	  z-index: 1;
    font-family: "Poppins";
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h1{
	color: white; 
	font-size: 80px;
	margin-bottom: 20px;
  
  text-transform: uppercase;
}
.txt p{
	font-weight: bold;
	font-size: 20px;
}


/* img animating*/
#img{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  -webkit-animation-duration: 40s;
  animation-name: zoomin;
  animation-duration: 40s;
  opacity: 0.7;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}




/* tablet */
@media screen and (max-width: 800px){
	.myslide{
		height: 500px;
	}
	.txt{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.txt h1{
		font-size: 40px;
	}
	.txt p{
		font-size: 13px;
	}

}
/* phone */


@media screen and (max-width: 520px){
	.txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.sign{
		margin-right: 20px;
	}
	.sign a{
		font-size: 12px;
    text-decoration: none;
	}
}
/*_____________________________________________About_____________________________________________________*/

.about-text p{
    padding-top: 5%;
    font-size: medium;
    
    text-align: justify;
    text-justify: inter-word;
  }
  .about{
    padding-top: 3%;
    padding-bottom: 5%;

  }
  @media only screen and (min-width:1200px){
    .img-fluid{
      height:400px;
      width: auto;
    }
    
.about-text p{
    padding-top: 7%;
    font-size: large;
  }
  .about{
    padding-top: 5%;
    padding-bottom: 6%;

  }
  }
  @media only screen and (min-width:1440px){
   
    
.about-text p{
    padding-top: 8%;
    font-size: 20px;
  }
  .about{
    padding-top: 9%;
    padding-bottom: 7%;

  }
  }
  @media only screen and (min-width:2000px){
   
.about-text p{
    padding-top: 8%;
    font-size: 25px;
  }
  .about{
    padding-top: 9%;
    padding-bottom: 7%;

  }
  }
/* ______________________________________strength keys__________________________________________________________ */
#punch{
  max-height: 150px;
  
  padding-left: 45%;
  padding-right: 45%;
  padding-top: 20px;
  padding-bottom: 20px;
}


#pf{
  color: var(--main-color);
  font-family: 'Playfair Display','Times New Roman', Times, serif;
}

#s-key1{
  background-color: var(--main-color);
  border-radius: 20%;
  width:251px;
  height: 200px;
  padding: 10px 10px 10px 10px ;
  margin: 1%;
  
}
#s-key2{
  background-color: var(--main-color);
  border-radius: 20%;
  width:251px;
  height: 200px;
  padding: 10px 10px 10px 10px ;
  margin: 1%;
}
#s-key3{
  background-color: var(--main-color);
  border-radius: 20%;
  width:251px;
  height: 200px;
  padding: 10px 10px 10px 10px ;
  margin: 1%;
  
}
.A-cnt{
  margin: 5% 0 5% 0;
  right: 0;
  left: 0;
}
.strengthK{
  margin: 0 0 0 0;
  right: 0;
  left: 0;
}
.strengthK h1
{
  font-weight: bold;
  color: var(--second-color);
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid #bbb;
  
}
.strengthK p {
  font-size: 1.5em;
  color: white;
  
  text-align: center;
  padding-top: 15px;
}
@media only screen and (max-width: 994px){
  .row{
    justify-content: center;
  }
  
}
@media only screen and (min-width: 995px){
  .row{
    justify-content:center;
  }
  
  #s-key2{
    align-items: center;
    margin-left: 7%;
    margin-right: 7%;
    vertical-align: middle;
  }
}
@media screen and (min-width: 1440px){
  .row{
    justify-content: space-between;
  }
  #s-key1{
  background-color: var(--main-color);
  border-radius: 20%;
  width:251px;
  height: 200px;
  padding: 10px 10px 10px 10px ;
  
}
#s-key2{
  background-color: var(--main-color);
  border-radius: 20%;
  width:251px;
  height: 200px;
  padding: 10px 10px 10px 10px ;
  
  margin-right: 18%;
  margin-left: 18%;
}
#s-key3{
  background-color: var(--main-color);
  border-radius: 20%;
  width:251px;
  height: 200px;
  padding: 10px 10px 10px 10px ;
  
}
}
/*largy large screens here */
@media screen and (min-width: 1500px) {
  .row{
    justify-content:center;
  }
  #punch{
  max-height: 300px;
  padding-left: 35%;
  padding-right: 35%;
  padding-top: 40px;
  padding-bottom: 30px;
}

#pf{
  color: var(--main-color);
  font-weight: 200;
  font-size: 4em;
  margin: 2%;
}
#s-key1{
  background-color: var(--main-color);
  border-radius: 20%;
  width:451px;
  height: 321px;
  padding: 10px 10px 10px 10px ;
  
}
#s-key2{
  background-color: var(--main-color);
  border-radius: 20%;
  width:451px;
  height: 321px;
  padding: 10px 10px 10px 10px ;
  margin-right: 2%;
  margin-left: 2%;
  
}
#s-key3{
  background-color: var(--main-color);
  border-radius: 20%;
  width:451px;
  height: 321px;
  padding: 10px 10px 10px 10px ;
  
}

.sBar{
  width: 70%;
  height: auto;
}
.strengthK h1
{
  font-weight: bold;
  color: var(--second-color);
  text-align: center;
  font-size: 35px;
}
.strengthK p {
  font-size: 25px;
  color: white;
  justify-content: center;
  padding-top: 30px;
}
}
/*-------------------------------------------Nos Cycles--------------------------------------------------------*/
.cnt-C{
  margin: 0 3% 0 3%;
}
.imgT h5{
  font-size: 17px;
}
.cycles p {
  font-size: 20px;
  color: black;
  justify-content: center;
  margin-top: 20px ;
  margin-bottom: 20px;
  margin-left: 20px;
  justify-content: center;
}
.Title-s{
  float: right !important;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 1%;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.imgT {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 85%;
  padding-left: 3%;
}
.custom-underline::after {
    content: "";
    display: block;
    width: 50%; 
    height: 2px;
    background-color: var(--main-color); 
    margin-top: 4px; 
    right: 0;
  }
@media screen and (min-width: 1500px) {
    .cycles p {
  font-size: 30px;
  padding-bottom: 5%;
}
}
/*_________________________________activites parascolaires_____________________________________________________________*/
.MySlides {display: none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 17px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot1 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.Active, .dot1:hover {
  background-color: #717171;
}

/* Fading animation */
.Fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*________________mot de president________________________________________________*/
.president-word{
  background-color: #3C3790;
  padding-bottom: 150px;
  width: 100%;
}
.Pw h2{
    color: #2ED4A6;
    padding-top: 5px;
}
.Pw{
  
  padding-top: 5%;
  padding-left: 3%;
}
.card-text{
  font-size: 20px;
}
.p-pw{
  margin-left: 3%;
  margin-right: 3%;
}

@media screen and (min-width: 1500px) {
  .card-tex {font-size: 25px}
  .Pw{
  margin-left: 7%;
}
}
/*lfoooooterrrrrrrrrrrrrrrrrrrrrr====================================================*/
.footer {
            background-color: #f9f9f9;
            padding: 20px;
            text-align: center;
        }
        .social-icons {
            margin-top: 10px;
            font-size: large;
        }
        .social-icons a {
            margin: 0 10px;
            color: var(--main-color);
            text-decoration: none;
        }
        .footer p{
          color: var(--main-color);
          font-size: large;
        }
/* home page ended here safe baraka laykhlef..*/
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%campuses%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

#h1 {
  padding: 0.5rem 1rem;
  margin: 2rem 0 0 0;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  background: var(--second-color);
}


h1.fit-content {
  width: fit-content;
}

h1.slanted {
  width: fit-content;
  transform: skew(25deg);
}

h1.pseudo-element {
  width: fit-content;
  position: relative;
}

h1.pseudo-element::after {
    content: "";
    width: 50px;
    height: 100%;
    position: absolute;
    right: -20px;
    top: 0;
    background: black;
    z-index: -1;
    transform: skew(25deg);
}
/*ewa ya lwatchers .. the trapezoid form isn't functionning ...*/
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%Campuses%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.camp li{
  display: inline-block;
  color: #fff;
}
.imgC{
  max-width: 225px ;
  max-height:190;
  opacity: 80%;
  z-index: -9;
  
}
.caption{
  margin-top: 5px;
  background-color: var(--second-color);
  padding-left: 10px;
  border-radius: 5%;
  color: #fff;
  font-size: 16px;
}
.links a{
  font-style: normal;
  text-decoration: none;
  color: white;
}
.links a:hover{
  font-size: larger;
  font-style: normal;
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 624px){
	#MOHAMMEDIA{
    margin-bottom: 10px;
  }
  #ESSAOUIRA{
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1725px){
	#MOHAMMEDIA{
    width: 690px;
  }
  #ESSAOUIRA{
    width: 690px;
  }
}
/*catalogue li feh facilities their imgs + description*/